<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377792998877-rk444f8898nvl5uidfr6vb42vo02u8ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377792998877-rk444f8898nvl5uidfr6vb42vo02u8ko</string>
	<key>API_KEY</key>
	<string>AIzaSyAO3PHHce-JfAP7yYpy9eF6UI1-Fagm6_4</string>
	<key>GCM_SENDER_ID</key>
	<string>377792998877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fuyajo.lazervsmoiety</string>
	<key>PROJECT_ID</key>
	<string>lazervsmoiety</string>
	<key>STORAGE_BUCKET</key>
	<string>lazervsmoiety.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377792998877:ios:7e907abe16d0795259da34</string>
</dict>
</plist>